@import "../_variables.scss";


@mixin build-column($width) {

    &-xl {
        @media (min-width: $large-desktop-breakpoint) {
            width: $width;
        }
    }

    &-lg {
        @media (max-width: $large-desktop-breakpoint) and (min-width: $desktop-breakpoint) {
            width: $width;
        }
    }

    &-md {
        @media (max-width: $desktop-breakpoint) and (min-width: $mobile-breakpoint) {
            width: $width;
        }
    }

    &-sm {
        @media (max-width: $mobile-breakpoint) and (min-width: $phone-breakpoint) {
            width: $width;
        }
    }

    &-xs {
        @media (max-width: $phone-breakpoint) {
            width: $width;
        }
    }
}

.row {  
    width:  100%;
    .col {
        width: 100%;
        float:left;
    }
    .col-1  { @include build-column(8.33%) }
    .col-2  { @include build-column(16.66%) }
    .col-3  { @include build-column(25%) }
    .col-4  { @include build-column(33.33% )}
    .col-5  { @include build-column(41.66%) }
    .col-6  { @include build-column(50%) }
    .col-7  { @include build-column(58.33%) }
    .col-8  { @include build-column(66.66%) }
    .col-9  { @include build-column(75%) }
    .col-10 { @include build-column(83.33%) }
    .col-11 { @include build-column(91.66%) }
    .col-12 { @include build-column(100%) }
}