// Typography
$font-button: 'Open Sans', sans-serif;

// Small screen / phone
$phone-breakpoint: 576px;
// Medium screen / tablet
$mobile-breakpoint: 768px;
// Large screen / desktop
$desktop-breakpoint: 992px;
// Extra large screen / wide desktop
$large-desktop-breakpoint: 1200px;